html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

.l-footer {
  background-color: #9D8670;
  height: 150px;
  text-align: center;
}

html {
  height: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  height: 100%;
  min-height: 100%;
}

body .l-all-wrapper {
  display: -ms-grid;
  display: grid;
  grid-template: "l-header l-aside" 217px "l-main l-aside" auto "l-footer l-footer" 150px / 1fr 367px;
}

@media screen and (max-width: 1179px) {
  body .l-all-wrapper {
    grid-template: "l-header" 217px "l-main" auto "l-footer" 150px / 1fr;
  }
  body .l-all-wrapper .l-aside {
    display: none;
  }
}

.l-header {
  grid-area: l-header;
}

.l-main {
  grid-area: l-main;
}

.l-aside {
  grid-area: l-aside;
}

.l-footer {
  grid-area: l-footer;
}

.l-nav-close {
  display: none;
  width: 100%;
  min-height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000;
  opacity: 0.5;
  z-index: 5;
}

.l-aside {
  background-color: #F2EDE9;
  color: #707070;
}

@media screen and (max-width: 1179px) {
  .l-aside {
    min-height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
  }
}

.c-contents-wrap {
  max-width: 585px;
  height: 174px;
  background-color: rgba(255, 255, 255, 0.8);
  color: #3C2A10;
  margin: 10px;
}

.c-contents-wrap__title {
  display: inline-block;
  font-size: 1.5rem;
  padding: 20px 0 20px 10px;
}

.c-contents-wrap__content {
  margin: 0 10px 0;
  font-size: 1rem;
  line-height: 1.3125;
}

.p-header {
  height: 217px;
  background-color: #fff7ef;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 1179px) {
  .p-header {
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.p-header__left h1 {
  font-size: 4vw;
  color: #707070;
  line-height: 217px;
  margin-left: 65px;
}

@media screen and (max-width: 1179px) {
  .p-header__left h1 {
    margin-left: 0;
    font-size: 2.5rem;
    line-height: normal;
    padding-top: 40px;
  }
}

@media screen and (max-width: 767px) {
  .p-header__left h1 {
    margin-left: 0;
    font-size: 2.5rem;
  }
}

.p-header__right {
  padding-right: 30px;
  margin: auto 0;
}

@media screen and (max-width: 1179px) {
  .p-header__right {
    padding-right: 0;
  }
}

@media screen and (max-width: 767px) {
  .p-header__right {
    padding-right: 0;
  }
}

.p-header__right input[type="text"] {
  padding-left: 5px;
  font-family: FontAwesome;
  font-size: 1.25rem;
  color: #707070;
}

.p-header__right input[type="button"] {
  color: #707070;
}

.p-header__right__text {
  max-width: 396px;
  height: 46px;
  border-radius: 10px;
  border: 1px solid #707070;
}

@media screen and (max-width: 767px) {
  .p-header__right__text {
    width: 230px;
  }
}

.p-header__right__btn {
  width: 136px;
  height: 46px;
  border-radius: 10px;
  font-size: 1rem;
  background-color: #f2ede9;
}

@media screen and (max-width: 767px) {
  .p-header__right__btn {
    width: 78px;
  }
}

.p-header__tbsp {
  font-weight: bold;
  font-size: 2.125rem;
  color: #707070;
  display: none;
}

@media screen and (max-width: 1179px) {
  .p-header__tbsp {
    display: block;
    position: absolute;
    top: 18px;
    right: 24px;
  }
}

@media screen and (max-width: 767px) {
  .p-header__tbsp {
    font-size: 1.25rem;
    top: 14px;
    right: 16px;
  }
}

.p-main__top {
  background-image: url(/img/top_img.png);
  background-position: center;
  width: auto;
  height: 530px;
}

@media screen and (max-width: 1179px) {
  .p-main__top {
    height: 285px;
  }
}

.p-main__top h2 {
  color: #FFFFFF;
  font-size: 2.5rem;
  padding-left: 86px;
  line-height: 530px;
}

@media screen and (max-width: 1179px) {
  .p-main__top h2 {
    font-size: 2.25rem;
    line-height: 285px;
  }
}

@media screen and (max-width: 767px) {
  .p-main__top h2 {
    padding-left: 25px;
  }
}

.p-main__contents-wrap {
  height: 1447px;
  margin-top: 120px;
  margin-bottom: 134px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media screen and (max-width: 1179px) {
  .p-main__contents-wrap {
    height: 761px;
    margin-top: 40px;
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 767px) {
  .p-main__contents-wrap {
    margin-top: 0;
    height: auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.p-main__contents-wrap h3 {
  font-size: 5vw;
  color: #eaeaea;
  padding: 50px 20px;
}

@media screen and (max-width: 767px) {
  .p-main__contents-wrap h3 {
    font-size: 2.5rem;
    padding: 15px 10px;
  }
}

.p-main__contents-wrap__border {
  margin: 0 20px;
  width: 63px;
  height: 4px;
  background-color: #ffffff;
}

@media screen and (max-width: 767px) {
  .p-main__contents-wrap__border {
    width: 34px;
  }
}

.p-main__contents-wrap-left {
  width: 42%;
  height: auto;
  background-image: url(/img/take_out.png);
  background-size: cover;
  position: relative;
}

@media screen and (max-width: 767px) {
  .p-main__contents-wrap-left {
    width: auto;
    height: 642px;
    margin: 20px;
  }
}

.p-main__contents-wrap-left .p-main__contents-wrap__bottom {
  position: absolute;
  bottom: 0;
}

.p-main__contents-wrap-right {
  width: 42%;
  height: auto;
  background-image: url(/img/eat_in.png);
  background-size: cover;
  position: relative;
}

@media screen and (max-width: 767px) {
  .p-main__contents-wrap-right {
    width: auto;
    height: 642px;
    margin: 20px;
  }
}

.p-main__contents-wrap-right .p-main__contents-wrap__bottom {
  position: absolute;
  bottom: 0;
}

.p-main__bottom {
  height: 649px;
  background-image: url(/img/map.png);
  background-position: left center;
}

@media screen and (max-width: 1179px) {
  .p-main__bottom {
    height: 415px;
  }
}

@media screen and (max-width: 767px) {
  .p-main__bottom {
    height: 691px;
  }
}

.p-main__bottom__content {
  max-width: 950px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.29);
  color: #ffffff;
}

@media screen and (max-width: 1179px) {
  .p-main__bottom__content {
    max-width: 100%;
  }
}

.p-main__bottom__content__title {
  display: inline-block;
  margin: 120px 0 50px 85px;
  font-size: 2.25rem;
}

@media screen and (max-width: 1179px) {
  .p-main__bottom__content__title {
    margin: 40px 0 22px 42px;
  }
}

.p-main__bottom__content__border {
  margin: 0 85px;
  width: 75px;
  height: 2px;
  background-color: #ffffff;
}

@media screen and (max-width: 1179px) {
  .p-main__bottom__content__border {
    margin: 0 42px;
  }
}

.p-main__bottom__content__text {
  display: inline-block;
  margin: 120px 85px;
  font-size: 1rem;
  line-height: 2;
}

@media screen and (max-width: 1179px) {
  .p-main__bottom__content__text {
    font-size: 0.875rem;
  }
}

@media screen and (max-width: 1179px) {
  .p-main__bottom__content__text {
    margin: 20px 40px;
    font-size: 0.875rem;
  }
}

.p-footer__name {
  padding-top: 39px;
  color: #ffffff;
  font-size: 1.25rem;
}

.p-footer__copyright {
  padding-top: 35px;
  color: #ffffff;
  font-size: 0.875rem;
}

.p-aside__title {
  padding: 82px 46px;
}

.p-aside__title h3 {
  font-size: 2.125vw;
}

@media screen and (max-width: 1179px) {
  .p-aside__title h3 {
    display: none;
  }
}

.p-aside__menu {
  padding: 45px 46px 42px;
  font-size: 1.5vw;
}

@media screen and (max-width: 1179px) {
  .p-aside__menu {
    font-size: 1.5rem;
  }
}

.p-aside__menu-list {
  list-style: none;
  font-size: 1.25vw;
}

@media screen and (max-width: 1179px) {
  .p-aside__menu-list {
    font-size: 1.25rem;
  }
}

.p-aside__menu-list li {
  margin: 23px 66px;
}

.p-aside__close {
  display: none;
  width: 32px;
  height: 32px;
  font-size: 2rem;
  position: absolute;
  top: 25px;
  right: 25px;
}

@media screen and (max-width: 1179px) {
  .p-aside__close {
    display: block;
  }
}
/*# sourceMappingURL=style.css.map */