.p-main__contents-wrap {
    height: 1447px;
    margin-top: 120px;
    margin-bottom: 134px;
    display: flex;
    justify-content: space-around;
    @include mq('tab'){
        height: 761px;
        margin-top: 40px;
        margin-bottom: 40px;
    }
    @include mq('sp'){
        margin-top: 0;
        height: auto;
        justify-content: center;
        flex-direction: column;
    }
    h3 {
        font-size: 5vw;
        color: #eaeaea;
        padding: 50px 20px;
        @include mq('sp'){
            font-size: 2.5rem;
            padding: 15px 10px;
        }
    }
    &__border {
        margin: 0 20px;
        width: 63px;
        height: 4px;
        background-color: #ffffff;
        @include mq('sp'){
            width: 34px;
        }
    }
    &-left {
        width: 42%;
        height: auto;
        background-image: url(/img/take_out.png);
        background-size: cover;
        position: relative;
        @include mq('sp'){
            width: auto;
            height: 642px;
            margin: 20px;
        }
        .p-main__contents-wrap__bottom {
            position: absolute;
            bottom: 0;
        }
    }
    &-right {
        width: 42%;
        height: auto;
        background-image: url(/img/eat_in.png);
        background-size: cover;
        position: relative;
        @include mq('sp'){
            width: auto;
            height: 642px;
            margin: 20px;
        }
        .p-main__contents-wrap__bottom {
            position: absolute;
            bottom: 0;
        }
    }
}

.p-main__bottom {
    height: 649px;
    background-image: url(/img/map.png);
    background-position: left center;
    @include mq("tab") {
        height: 415px;
    }
    @include mq('sp'){
        height: 691px;
    }
    &__content {
        max-width: 950px;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.29);
        color: #ffffff;
        @include mq('tab'){
            max-width: 100%;
        }
        &__title {
            display: inline-block;
            margin:120px 0 50px 85px;
            font-size: 2.25rem;
            @include mq("tab") {
                margin:40px 0 22px 42px;
            }
            // @include mq('sp'){
            //     margin:40px 0 22px 42px;
            // }
        }
        &__border {
            margin: 0 85px;
            width: 75px;
            height: 2px;
            background-color: #ffffff;
            @include mq("tab") {
                margin: 0 42px;
            }
            // @include mq('sp'){
            //     margin: 0 42px;
            // }
        }
        &__text {
            display: inline-block;
            margin:120px 85px ;
            font-size: 1rem;
            line-height: 2;
            @include mq("tab") {
                font-size: 0.875rem;
            }
            @include mq("tab") {
                margin:20px 40px ;
                font-size: 0.875rem;
            }
            // @include mq('sp'){
            //     margin:20px 40px ;
            //     font-size: 0.875rem;
            // }
        }
    }
}
