.p-footer {
    &__name {
        padding-top: 39px;
        color: #ffffff;
        font-size: 1.25rem;
    }
    &__copyright {
        padding-top: 35px;
        color: #ffffff;
        font-size: 0.875rem;
    }
}