.p-header {
    height: 217px;
    background-color: #fff7ef;
    display: flex;
    justify-content: space-between;
    @include mq("tab") {
        text-align: center;
        justify-content: center;
        flex-direction: column;
    }
    &__left h1 {
        font-size: 4vw;
        color: #707070;
        line-height: 217px;
        margin-left: 65px;
        @include mq("tab") {
            margin-left: 0;
            font-size: 2.5rem;
            line-height: normal;
            padding-top: 40px;
        }
        @include mq('sp'){
            margin-left: 0;
            font-size: 2.5rem;
        }
    }
    &__right {
        padding-right: 30px;
        margin: auto 0;
        @include mq("tab") {
            padding-right: 0;
        }
        @include mq('sp'){
            padding-right: 0;
        }
        & input[type="text"] {
            padding-left: 5px;
            font-family: FontAwesome;
            font-size: 1.25rem;
            color: #707070;
        }
        & input[type="button"] {
            color: #707070;
        }
        &__text {
            max-width: 396px;
            height: 46px;
            border-radius: 10px;
            border: 1px solid #707070;
            @include mq('sp'){
                width: 230px;
            }
        }
        &__btn {
            width: 136px;
            height: 46px;
            border-radius: 10px;
            font-size: 1rem;
            background-color: #f2ede9;
            @include mq('sp'){
                width: 78px;
            }
        }
    }
}
.p-header__tbsp {
    font-weight: bold;
    font-size: 2.125rem;
    color: #707070;
    display: none;
    @include mq("tab") {
        display: block;
        position: absolute;
        top: 18px;
        right: 24px;
    }
    @include mq('sp'){
        font-size: 1.25rem;
        top: 14px;
        right: 16px;
    }
}
