.p-main__top {
    background-image: url(/img/top_img.png);
    background-position: center;
    width: auto;
    height: 530px;
    h2 {
        color:#FFFFFF;
        font-size: 2.5rem;
        padding-left: 86px;
        line-height: 530px;
    }
}