.l-aside {
    background-color: #F2EDE9;
    color: #707070;
    @include mq("tab") {
        min-height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 10;
    }
}