body {
    display: grid;
    grid-template: 
    "l-header l-aside" 217px
    "l-main l-aside" auto
    "l-footer l-footer" 150px /
    1fr 367px;
}

$areas: l-header, l-main, l-aside, l-footer;
 
@each $area in $areas {
  .#{$area} {
    grid-area: #{$area};
  }
}


// .l-header {
//     width: 100%;
    
// }